chardet                    
gensim                     
jupyterlab                 
matplotlib                 
numpy                      
pandas                     
pexpect                    
Pillow                     
prompt-toolkit             
requests                   
scikit-learn               
scipy                      
xonsh                      
xontrib-readable-traceback 
xontrib-z                  
flake8                     
japanize-matplotlib        
jedi                       
neovim                     
pep8                       
pipenv                     
pycodestyle                
pyflakes                   
python-vim                 
yapf                       
