chardet                    
gensim                     
jupyterlab                 
matplotlib                 
numpy                      
pandas                     
pexpect                    
Pillow                     
prompt-toolkit             
requests                   
scikit-learn               
scipy                      
xonsh                      
xontrib-readable-traceback 
xontrib-z                  
xontrib-powerline2
flake8                     
japanize-matplotlib        
jedi                       
neovim                     
pep8                       
pipenv                     
pycodestyle                
pyflakes                   
python-vim                 
yapf                       
black
widgetsnbextension
seaborn
jupyterlab_code_formatter
ipywidgets
tqdm
bokeh
plotly
gokart
thunderbolt
pandas-profiling
opencv-python
gnureadline
pylint
python-language-server[yapf]
pyls-isort
pyls-mypy
