jupyterlab                 
ipywidgets
pandas                     
Pillow                     
requests                   
xonsh                      
xontrib-readable-traceback 
xontrib-z                  
xontrib-powerline2
jedi                       
neovim                     
pipenv                     
poetry
python-vim                 
